{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
      </button>
      <a class="navbar-brand" href="/">NNMF</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h4>Calculate Muscle Synergies</h4>
    <button onclick="calculatetVAF()">Display Synergy tVAF</button>
    <label><input type="button" name="number_of_solutions" value="1 Synergy Solution" onclick="weight1()" /></label>
    <label><input type="button" name="number_of_solutions" value="2 Synergy Solution" onclick="weight2()" /></label>
    <label><input type="button" name="number_of_solutions" value="3 Synergy Solution" onclick="weight3()" /></label>
    <label><input type="button" name="number_of_solutions" value="4 Synergy Solution" onclick="weight4()" /></label>
    <label><input type="button" name="number_of_solutions" value="5 Synergy Solution" onclick="weight5()" /></label>

    <!-- <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" autocomplete="off" onclick="weight1()">1 Synergy Solution
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off" onclick="weight2()">2 Synergy Solution
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off" onclick="weight3()">3 Synergy Solution
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option4" autocomplete="off" onclick="weight4()">4 Synergy Solution
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option5" autocomplete="off" onclick="weight5()">5 Synergy Solution
      </label>
    </div> -->
    <!-- <button onclick="calculateSyn()">Display Synergy Weights</button> -->

      <head>
          <title>Scatter Chart</title>
          <script src="/static/Chart.bundle.js"></script>
          <script src="/static/utils.js"></script>
          <style>
          canvas {
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
          }
          </style>
      </head>
      <div style="width:50%;">
          <canvas id="chart11" width="400" height="100"></canvas>

      </div>
      <body>
      <script>
         // bar chart data
         var color = Chart.helpers.color;
         var barData11 = {
         labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
         datasets : [
            {
                  label:"Synergy 1",
                  backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.red,
                  borderWidth: 1,
               data : [{% for item in Wmatrix11 %}
                            {{item}},
                          {% endfor %}]
            }
            ]
         }

         // get bar chart canvas
         function weight1() {
           var ctx1 = document.getElementById("chart11").getContext("2d");
           window.myBar = Chart.Bar(ctx1, {
               type: 'bar',
               data: barData11,
               options: {
                   responsive: true,
                   legend: {
                       position: 'top',
                   },
                   title: {
                       display: true,
                       text: 'Weights of 1 Synergy Solution'
                   }
               }
           })
         }

      </script>
      </body>
      <div style="width:50%;">
          <canvas id="chart12" width="400" height="100"></canvas>

      </div>
      <body>
      <script>
         // bar chart data
         var color = Chart.helpers.color;
         var barData22 = {
         labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
         datasets : [
            {
                  label:"Synergy 1",
                  backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.red,
                  borderWidth: 1,
               data : [{% for item in Wmatrix21 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 2",
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  borderWidth: 1,
               data : [{% for item in Wmatrix22 %}
                            {{item}},
                          {% endfor %}]
            }
            ]
         }

         // get bar chart canvas
         function weight2() {
           var ctx2 = document.getElementById("chart12").getContext("2d");
           window.myBar = Chart.Bar(ctx2, {
               type: 'bar',
               data: barData22,
               options: {
                   responsive: true,
                   legend: {
                       position: 'top',
                   },
                   title: {
                       display: true,
                       text: 'Weights of 2 Synergy Solution'
                   }
               }
           })
         }

      </script>
      </body>
      <div style="width:50%;">
          <canvas id="chart13" width="400" height="100"></canvas>

      </div>
      <body>
      <script>
         // bar chart data
         var color = Chart.helpers.color;
         var barData33 = {
         labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
         datasets : [
            {
                  label:"Synergy 1",
                  backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.red,
                  borderWidth: 1,
               data : [{% for item in Wmatrix31 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 2",
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  borderWidth: 1,
               data : [{% for item in Wmatrix32 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 3",
                  backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.green,
                  borderWidth: 1,
               data : [{% for item in Wmatrix33 %}
                            {{item}},
                          {% endfor %}]
            }
            ]
         }

         // get bar chart canvas
         function weight3() {
           var ctx3 = document.getElementById("chart13").getContext("2d");
           window.myBar = Chart.Bar(ctx3, {
               type: 'bar',
               data: barData33,
               options: {
                   responsive: true,
                   legend: {
                       position: 'top',
                   },
                   title: {
                       display: true,
                       text: 'Weights of 3 Synergy Solution'
                   }
               }
           })
         }

      </script>
      </body>
      <div style="width:50%;">
          <canvas id="chart14" width="400" height="100"></canvas>

      </div>
      <body>
      <script>
         // bar chart data
         var color = Chart.helpers.color;
         var barData44 = {
         labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
         datasets : [
            {
                  label:"Synergy 1",
                  backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.red,
                  borderWidth: 1,
               data : [{% for item in Wmatrix41 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 2",
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  borderWidth: 1,
               data : [{% for item in Wmatrix42 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 3",
                  backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.green,
                  borderWidth: 1,
               data : [{% for item in Wmatrix43 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 4",
                  backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.orange,
                  borderWidth: 1,
               data : [{% for item in Wmatrix44 %}
                            {{item}},
                          {% endfor %}]
            }
            ]
         }

         // get bar chart canvas
         function weight4() {
           var ctx4 = document.getElementById("chart14").getContext("2d");
           window.myBar = Chart.Bar(ctx4, {
               type: 'bar',
               data: barData44,
               options: {
                   responsive: true,
                   legend: {
                       position: 'top',
                   },
                   title: {
                       display: true,
                       text: 'Weights of 4 Synergy Solution'
                   }
               }
           })
         }

      </script>
      </body>
      <div style="width:50%;">
          <canvas id="chart15" width="400" height="100"></canvas>

      </div>
      <body>
      <script>
         // bar chart data
         var color = Chart.helpers.color;
         var barData55 = {
         labels : [{% for item in labels %}
                        "{{item}}",
                    {% endfor %}],
         datasets : [
            {
                  label:"Synergy 1",
                  backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.red,
                  borderWidth: 1,
               data : [{% for item in Wmatrix51 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 2",
                  backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.blue,
                  borderWidth: 1,
               data : [{% for item in Wmatrix52 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 3",
                  backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.green,
                  borderWidth: 1,
               data : [{% for item in Wmatrix53 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 4",
                  backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.orange,
                  borderWidth: 1,
               data : [{% for item in Wmatrix54 %}
                            {{item}},
                          {% endfor %}]
            },{
                  label:"Synergy 5",
                  backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.purple,
                  borderWidth: 1,
               data : [{% for item in Wmatrix55 %}
                            {{item}},
                          {% endfor %}]
            }
            ]
         }

         // get bar chart canvas
         function weight5() {
           var ctx5 = document.getElementById("chart15").getContext("2d");
           window.myBar = Chart.Bar(ctx5, {
               type: 'bar',
               data: barData55,
               options: {
                   responsive: true,
                   legend: {
                       position: 'top',
                   },
                   title: {
                       display: true,
                       text: 'Weights of 5 Synergy Solution'
                   }
               }
           })
         }

      </script>
      </body>
      <div style="width:100%;">
          <canvas id="chart2" width="400" height="100"></canvas>

      </div>
      <body>
        <script>
           // bar chart data
           var color = Chart.helpers.color;
           var barData2 = {
           labels : [{% for item in labeltvaf %}
                          "{{item}}",
                      {% endfor %}],
           datasets : [
              {
                    label:"tVAF",
                    backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.red,
                    borderWidth: 1,
                 data : [{% for item in tVAF %}
                              {{item}},
                            {% endfor %}]
              }
              ]
           }

           // get bar chart canvas
           function calculatetVAF() {
             var ctx = document.getElementById("chart2").getContext("2d");
             window.myBar = Chart.Bar(ctx, {
                 type: 'bar',
                 data: barData2,
                 options: {
                     responsive: true,
                     legend: {
                         position: 'top',
                     },
                     title: {
                         display: true,
                         text: 'tVAF'
                     }
                 }
             })
           }

        </script>
      </body>


      <!doctype html>
      <html>

      <head>
          <title>Scatter Chart</title>
          <script src="/static/Chart.bundle.js"></script>
          <script src="/static/utils.js"></script>
          <style>
          canvas {
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
          }
          </style>
      </head>

      <body>
          <div style="width:100%;">
              <canvas id="canvas1a" width="400" height="100"></canvas>

          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set1a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set1b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas1a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      showLine: true,
                      title: {
                          display: true,
                          text: 'EMG 1'
                      },
                  }
              });
            //  ctx.moveTo(0,0);
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas2a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set2a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set2b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas2a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 2'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas3a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set3a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set3b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas3a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 3'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas4a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set4a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set4b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas4a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 4'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas5a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set5a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set5b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas5a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 5'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas6a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set6a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set6b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas6a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 6'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas7a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set7a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set7b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas7a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 7'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas8a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                    label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set8a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set8b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas8a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 8'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas9a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set9a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set9b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas9a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 9'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas10a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set10a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set10b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas10a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 10'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas11a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set11a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set11b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas11a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 11'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas12a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set12a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set12b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas12a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 12'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas13a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set13a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set13b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas13a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 13'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas14a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set14a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set14b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas14a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 14'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas15a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set15a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set15b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas15a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 15'
                      },
                  }
              });
        </script>

      </body>

      <body>
          <div style="width:100%">
              <canvas id="canvas16a" width="400" height="100"></canvas>
          </div>
          <script>

              var color = Chart.helpers.color;
              var scatterChartData = {
                  datasets: [{
                      label:"Unfiltered",
                      borderColor: window.chartColors.red,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set16a %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  },{
                      label:"Filtered",
                      borderColor: window.chartColors.blue,
                      pointRadius: .5,
                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                      data: [{% for exes,whys in set16b %}
                                 {x: {{exes}},
                                 y: {{whys}},
                                },
                             {% endfor %}

                      ]
                  }]
              };

              var ctx = document.getElementById("canvas16a").getContext("2d");
              window.myScatter = Chart.Scatter(ctx, {
                  scaleOverride: true,
                  scaleSteps: 10,
                  scaleStepWidth: .00001,
                  scaleStartValue: -0.0001,
                  scaleShowVerticalLines: true,
                  scaleShowGridLines : true,
                  data: scatterChartData,
                  options: {
                      title: {
                          display: true,
                          text: 'EMG 16'
                      },
                  }
              });
        </script>

      </body>

      </html>


  </div>
</div>
{% endblock %}
