{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
      </button>
      <a class="navbar-brand" href="/">NNMF</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h4>Calculate Muscle Synergies</h4>
      <head>
        <title>Scatter Chart</title>
        <script src="/static/Chart.bundle.js"></script>
        <script src="/static/utils.js"></script>
        <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        </style>
      </head>
      <div id = 'charts'></div>
      <div id = 'tVAFs'></div>
      <div id = 'weights'></div>
      <body>
        <script>
        var results = {{resultsJson | safe}};
        var names = {{MNJson | safe}};
        var chartList = document.getElementById('charts');
        for (var i = 0; i < results.length; i++) {
          var canvas = document.createElement('canvas');
          canvas.setAttribute('width', 400);
          canvas.setAttribute('height', 100);
          chartList.appendChild(canvas);
          var color = Chart.helpers.color;
          var scatterChartData = {
            datasets: [{
                label:"Filtered",
                borderColor: window.chartColors.red,
                pointRadius: .5,
                backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                data: results[i].filt
              },{
                label:"Unfiltered",
                borderColor: window.chartColors.blue,
                pointRadius: .5,
                backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                data: results[i].raw
              }]
            };
          var ctx = canvas.getContext('2d');
          window.myScatter = Chart.Scatter(ctx, {
            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: .00001,
            scaleStartValue: -0.0001,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            data: scatterChartData,
            options: {
                showLine: true,
                title: {
                    display: true,
                    text: names[i]
                },
              }
          });
        }
        var alltVAF = {{tVAFJson | safe}};
        var tVAFList = document.getElementById('tVAFs');
        var canvas = document.createElement('canvas');
        canvas.setAttribute('width', 400);
        canvas.setAttribute('height', 100);
        tVAFList.appendChild(canvas);
        var color = Chart.helpers.color;
        var barChartData = {
          labels : [{% for item in tVAFlabels %}
                         "{{item}}",
                     {% endfor %}],
          datasets: [{
              label: 'tVAF',
              borderColor: window.chartColors.orange,
              borderWidth: 1,
              backgroundColor: color(window.chartColors.orange).alpha(0.2).rgbString(),
              data: alltVAF
            }]
          };
        var ctx = canvas.getContext('2d');
        window.myBar = Chart.Bar(ctx, {
          type: 'bar',
          data: barChartData,
          options: {
              responsive: true,
              legend: {
                  position: 'top',
              },
              title: {
                  display: true,
                  text: 'Total Variance Accounted For'
              }
            }
        });
        var allWeights = {{WWJson | safe}};
        var weightList = document.getElementById('weights');
        for (var i = 0; i < allWeights.length; i++) {
          var canvas = document.createElement('canvas');
          canvas.setAttribute('width', 400);
          canvas.setAttribute('height', 100);
          weightList.appendChild(canvas);
          var color = Chart.helpers.color;
          function newDataSet(i, j, allWeights) {
            var colorChoice = [window.chartColors.orange, window.chartColors.yellow, window.chartColors.green, window.chartColors.blue, window.chartColors.purple]
            return {
            label: "Synergy " + (j+1),
            borderColor: colorChoice[j-1],
            borderWidth: 1,
            backgroundColor: color(colorChoice[j-1]).alpha(0.2).rgbString(),
            data: allWeights[i][j]
            }
          };
          var barChartData = {
            labels : [{% for item in muscleNamesShort %}
                           "{{item}}",
                       {% endfor %}],
            datasets: [{
                label:"Synergy 1",
                borderColor: window.chartColors.red,
                borderWidth: 1,
                backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                data: allWeights[i][0]
              }]
            };
          for (var j = 1; j < allWeights[i].length; j++) {
            barChartData.datasets.push(newDataSet(i,j,allWeights))
          }
          var ctx = canvas.getContext('2d');
          window.myBar = Chart.Bar(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Weights of ' + (i + 1) + ' Synergy Solution'
                },
                scales: {
                    xAxes: [{
                      display: true,
                      ticks: {
                        fontSize: 8
                      }
                    }]
                }
              }
          });
        }
        </script>
      </body>
  </div>
</div>
{% endblock %}
