{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
        <span class="icon-bar"</span>
      </button>
      <a class="navbar-brand" href="/">NNMF</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Synergy Calculator</h2>
    <h4>Upload your unprocessed EMG file here for synergy calculations</h4>
    <h4>Acceptable file formats include xlsx, xls, and csv</h4>
    <p>Please make your file the same format as the attached downloadable file</p>
    <a href="example_excel.xlsx" download>Example Template</a>
  </div>
  <p>Select filtering parameters</p>
  <p>Default paramaters are: High pass cutoff 20 hz and Low pass cutoff 10 Hz.
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Highpass Cutoff
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="20">20</a></li>
        <li><a href="30">30</a></li>
        <li><a href="40">40</a></li>
      </ul>
    </div>
    <p></p>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Lowpass Cutoff
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="10">10</a></li>
        <li><a href="20">20</a></li>
        <li><a href="30">30</a></li>
      </ul>
    </div>
    <p></p>
<form action="" method=post enctype=multipart/form-data><p>
<input type=file name=file><input type=submit value=Upload>
</form>
</div>
{% endblock %}
