{% extends "navbar.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Muscle Synergies</h1>
  </div>
  <body>
    <h3>Motivation</h3>
    <h4>Cerebral Palsy</h4>
      <p>Every brain injury is unique</p>
      <p>Need methods to quantify patient-specific impairments</p>
    <h4>Muscle Synergies</h4>
      <p>Theory from neuroscience describing how we coordinate muscles to produce movement</p>
  <div class="container">
    <img src="/static/emg.png" class="img-fluid" alt="Electromyography">
    <img src="/static/weights.png" class="img-fluid" alt="Synergy Weights">
    <img src="/static/activations.png" class="img-fluid" alt="Synergy Activations">
    <img src="/static/leg4.png" class="img-fluid" alt="4 Muscle Subset">
    <img src="/static/leg8.png" class="img-fluid" alt="8 Muscle Subset">
  </div>
  </body>
{% endblock %}
