{% extends "header.html" %}

{% block title %}About Muscle Synergies{% endblock %}

{% block content %}
<style>
  div.c {
    margin-left: 10%;
    margin-right: 10%;
  }
</style>
<div class="container">
  <div class="page-header">
    <h1>Muscle Synergies</h1>
  </div>
  <body>
    <h2>Motivation for Understanding Motor Control</h2>
      <p>Individuals with CP have altered muscle activity during walking compared to their typically-developing peers resulting from a brain injury at or near the time of birth. In 2008, 3.1 children out of every 1000 were found to have CP in the united states at age 8 [1]. Because every brain injury is unique, patient-specific differences in motor control and gait patterns arise for individuals with CP. Motion capture can be used to analyze these the kinematic abnormalities in gait, such as flexion angles of the ankle and knee. However, motion capture does not capture the patient’s motor control.</p>
      <p>It is hypothesized that by understanding a patient's specific method of motor control, patient-specific treatment protocols might be able to be developed that have the highest possible success for patients.</p>
    <h2>A Synergy Driven Control Strategy</h2>
      <p>Muscle synergies are a theory from neuroscience that descibes how muscles are activated together to produce complex movements. A synergy driven control system is advantageous because its limits the number of signals needed to activate muscles during an activity. Instead of individually activating muscles, the synergy is activated.</p>
    <h2>Muscle Synergy Calculation</h2>
      <
      <p>Using electromyography (EMG) gathered during gait over a large range of muscles lower dimensional activation groups can be computed.6 Non-negative matrix factorization algorithms are commonly used to identify these groupings, also known as muscle synergies.  Synergies also contain the weighting of each respective muscle EMG that is included in each synergy.7 Additionally, this synergy calculation produces activations specific to each group of weightings. Reconstructing the original EMG signals is achieved by multiplication of the synergy weights and activations (Figure 1). However, this reconstruction is not completely accurate, especially at lower synergy solutions, because of error in the decomposition.  </p>
      <h4>Electromyography Processing</h4>
        <p>For synergy calculation the EMG signals are filtered and processed. First they are high-passed, then rectified, low-passed, and finally normalized. There are multiple parameters used in literature as standards for filtering, however this website integrates in one standard: 20 Hz high pass, 10 hz low pass. Filtering parameters have an effect on the tVAF during synergy calculation and so establishing consistency across synergy calculations is key in order to have comparable results.</p>
      <h4>Muscle Selection</h4>
        <p>Different Institutions follow different protocols for the muscles included in synergy analysis. Muscles selection is also dependent on the number of EMG sensors available for use. Additionally, accurate EMG sensor placement requires significant amounts of time, and thus time constraints can limit the number of EMG signals gathered. Patient populations also can determine the number of sensors used; sensors take up more space on a small child than an adult, and so it can be especially difficult places EMG sensors when sensors might overlap or not be fully isolated as they would be on an adult.</p>
        <p>Standard Lower Limb Muscle Synergy Subsets:</p>
        <div class ="c">
          <p>Four Muscle Subset: Medial Gastrocnemius, Tibialis Anterior, Rectus Femoris, Medial Hamstring
          <p>Five Muscle Subset: Medial Gastrocnemius, Tibialis Anterior, Rectus Femoris, Lateral Hamstring, Medial Hamstring
          <p>Eight Muscle Subset: Medial Gastrocnemius, Soleus, Tibialis Anterior, Rectus Femoris, Vastus Medius, Lateral Hamstring, Medial Hamstring, Gleuteus Medius
          <p>Sixteen Muscle Subset: External Obliques, Peronius Longus, Rectus Abdominus, Erector Spinae
        </div>
        <p>Standard Upper Limb Muscle Synergy Subsets:</p>
        <div class ="c">
          <p></p>
        </div>
      <h4>Synergy Calculation</h4>

  <div class="uw-slideshow">
   <div class="slide has-text">
     <a title="Motivation" href="#">
        <img title="Image title" src="/static/emg.png" alt="Image title" />
     </a>
     <div>
      <h3><a title="Motivation" href="#">Motivation</a></h3>
      <p>With cerebral palsy, every brain injury is unique. Because of this, patient-specific metrics at needed to quantify impairments.</p>
     </div>
   </div>
   <div class="slide has-text">
     <a title="Motivation" href="#">
        <img title="Image title" src="/static/Screen.png" alt="Image title" />
     </a>
     <div>
      <h3><a title="Muscle Synergies" href="#">Motivation</a></h3>
      <p>Muscle synergies are calculated through non-negative matrix factorization (NNMF) of electromyography (EMG) signals.</p>
     </div>
    </div>
    <div class="slide has-text">
      <a title="Synergies" href="#">
         <img title="Image title" src="/static/Screen.png" alt="Image title" />
      </a>
      <div>
       <h3><a title="Muscle Synergies" href="#">Motivation</a></h3>
       <p>The more synergies needed to accurately represent the EMG patterns, the more complex the gait and motor control.</p>
      </div>
     </div>
   </div>

<!--   <div id="home-content" class="row">
      <h2 class="slider-header">UW Brand in Action</h2>
<div class="col-md-8">
<div tabindex="0" class="uw-slideshow photo-slider slideshow-1777 last-next">
<div class="slide has-text" style="z-index: 6; left: 100%;"><a tabindex="-1" href="" title="Admissions welcome packet"><img src="https://www.washington.edu/brand/files/2015/09/Slider_WelcomePacket3.jpg" title="Admissions welcome packet"></a><p></p>
<div style="left: -200%;">
<h3 tabindex="-1"><a tabindex="-1" href="" title="Admissions welcome packet">Admissions welcome packet</a></h3>
<p>Love how the design is clean and simple, letting the UW brand shine. This is a fun use of the Boundless W as a spot varnish on purple. This is a great use of the angled line -- how it is treated as a fill of UW gold. </p>
</div>
</div>
<div class="slide has-text" style="z-index: 5; left: 100%;"><a tabindex="-1" href="" title="Arts &amp; Sciences Brochure"><img src="https://www.washington.edu/brand/files/2015/09/Slider_JourneyBrochure3.jpg" title="Arts &amp; Sciences Brochure"></a><p></p>
<div style="left: -200%;">
<h3 tabindex="-1"><a tabindex="-1" href="" title="Arts &amp; Sciences Brochure">Arts &amp; Sciences Brochure</a></h3>
<p>This is a great use of so many brand graphic elements — I see fonts, boundless bar, angles, styled headlines, and a Boundless W. Although the UW gold is not used throughout, this was a great transitional piece from the previous brand palette to the current brand palette. </p>
</div>
</div>
<div class="slide has-text" style="z-index: 4; left: 100%;"><a tabindex="-1" href="" title="Facilities award"><img src="https://www.washington.edu/brand/files/2015/09/Slider_FacilitiesAward3.jpg" title="Facilities award"></a><p></p>
<div style="left: -200%;">
<h3 tabindex="-1"><a tabindex="-1" href="" title="Facilities award">Facilities award</a></h3>
<p>It is fun to see the brand used in unexpected ways. Here the styled headline is used for an award plaque. It is paired with a department signature logo. </p>
</div>
</div>
<div class="slide has-text" style="z-index: 3; left: 100%;"><a tabindex="-1" href="" title="Professional &amp; Continuing Education building sign"><img src="https://www.washington.edu/brand/files/2015/09/Slider_PCESign3.jpg" title="Professional &amp; Continuing Education building sign"></a><p></p>
<div style="left: -200%;">
<h3 tabindex="-1"><a tabindex="-1" href="" title="Professional &amp; Continuing Education building sign">Professional &amp; Continuing Education building sign</a></h3>
<p>This is a great combination of the Boundless W and the departmental signature logo. Plus, it is fun to see the brand being used for environmental graphic applications.</p>
</div>
</div>
<div class="slide has-text" style="z-index: 2; left: 100%;"><a tabindex="-1" href="" title="Admissions info sheets"><img src="https://www.washington.edu/brand/files/2015/09/Slider_InfoSheets3.jpg" title="Admissions info sheets"></a><p></p>
<div style="left: -200%;">
<h3 tabindex="-1"><a tabindex="-1" href="" title="Admissions info sheets">Admissions info sheets</a></h3>
<p>Photography is the perfect way to add vibrancy to your designs. Although the brand color palette is limited to UW colors, there is no limit on ways to use colorful photos to liven up your designs. </p>
</div>
</div>
<div class="slide has-text" style="z-index: 1; left: 100%;"><a tabindex="-1" href="" title="Report to Contibutors financials"><img src="https://www.washington.edu/brand/files/2015/09/Slider_RTCFinancials3.jpg" title="Report to Contibutors financials"></a><p></p>
<div style="left: -200%;">
<h3 tabindex="-1"><a tabindex="-1" href="" title="Report to Contibutors financials">Report to Contibutors financials</a></h3>
<p>Even charts and graphs should be designed with the brand graphic elements. This spread shows some tricks to utilizing the UW palette for displaying financial data. </p>
</div>
</div>
<div class="slide has-text" style="z-index: 0;"><a tabindex="-1" href="" title="UW Visitor Guide brochure"><img src="https://www.washington.edu/brand/files/2015/09/Slider_VisitorsGuide3.jpg" title="UW Visitor Guide brochure"></a><p></p>
<div>
<h3 tabindex="-1"><a tabindex="-1" href="" title="UW Visitor Guide brochure">UW Visitor Guide brochure</a></h3>
<p>The brand elements work best when the layouts are simple and clean. Use bold, beautiful or human photography (see Boundless photo guide section) to capture attention. Then emphasize your content with bold headline treatments and that large Boundless W. </p>
</div>
</div>
<a tabindex="-1" href="#" class="uw-slideshow-controls next"></a><a tabindex="-1" href="#" class="uw-slideshow-controls previous"></a><ul class="slider-dots slider-dots-slideshow-1777"><li class=""></li><li class=""></li><li class=""></li><li class=""></li><li class=""></li><li class=""></li><li class="select-dot"></li></ul><a tabindex="-1" class="fullscreen" href="#">Fullscreen</a></div>
</div>
    </div> -->
  </body>
</div>
{% endblock %}
