{% extends "header.html" %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='emgplots.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Synergy Results</h1>
    <a href='/static/plots/matplots_{{ name }}.pdf' target="_blank" class="uw-btn">Print results</a>
    <a href='/static/resultcsv/{{ name }}.csv' class="uw-btn" download='{{ name }}.csv'>Download Excel File of Results</a>
  </div>
      <head>
        <title>Scatter Chart</title>
        <script src="/static/Chart.bundle.js"></script>
        <script src="/static/utils.js"></script>
        <!-- <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        </style> -->
      </head>
      <body>
        <a class="uw-btn" onclick="displayEMG()">Filtered and Unfiltered EMG</a>
        <a class="uw-btn" onclick="displaytVAF()">Synergy tVAF</a>
        <a class="uw-btn" onclick="displayAct()">Weights and Activations</a>
        <div id = 'charts' style="display: none;" class="column">
          {% for item in fn %}
              <img src="{{item}}" alt="Electromyography" class="row" onclick="showZoomedImage(event);">
          {% endfor %}
        </div>
        <div id = 'tVAFs' style="display: none;"></div>
        <div id = 'act' style="display: none; width:100%" class="column2">
          {% for newItem in awnwn %}
            <h2>{{loop.index}} Synergy Solution</h2>
            <div>
            {% for item,item2 in newItem %}
              <img src="{{item2}}" alt="Weight" class="row2" onclick="showZoomedImage(event);">
              <img src="{{item}}" alt="Activation" class="row2" onclick="showZoomedImage(event);">
            {% endfor %}
            </div>
          {% endfor %}
        </div>
        <script>
        function displayEMG() {
          var EMGimages = document.getElementById('charts');
          if (EMGimages.style.display == "none") {
            EMGimages.style.display = "block";
          } else {
            EMGimages.style.display = "none";
          }
        }

        function showZoomedImage(event) {
          var imgElement = event.currentTarget.cloneNode(false);
          imgElement.classList.remove('row');
          imgElement.removeAttribute('onclick');
          var background = document.createElement('div');
          background.setAttribute('class', 'zoomed');
          var dialog = document.createElement('div');

          var dismissZoomedImage = function(e) {
            background.parentNode.removeChild(background);
          }

          background.addEventListener('click', dismissZoomedImage);
          //dialog.addEventListener('click', dismissZoomedImage);

          dialog.appendChild(imgElement);
          background.appendChild(dialog);
          document.body.appendChild(background);

          var margin = (background.offsetHeight - dialog.offsetHeight)/2;
          dialog.style.marginTop = margin + 'px';
        }
        //
        //
        //
        // var fn =
        // var results = {{resultsJson | safe}};
        // var names = {{MNJson | safe}};
        // function displayEMG() {
        //   var chartList = document.getElementById("tVAFs");
        //   if (chartList.style.display === "none") {
        //     chartList.style.display = "block";
        //     for (var i = 0; i < results.length; i++) {
        //       var canvas = document.createElement('canvas');
        //       canvas.setAttribute('width', 400);
        //       canvas.setAttribute('height', 100);
        //       chartList.appendChild(canvas);
        //       var color = Chart.helpers.color;
        //       var scatterChartData = {
        //         datasets: [{
        //             label:"Filtered",
        //             borderColor:  '#85754d',
        //             pointRadius: .5,
        //             backgroundColor: color('#85754d').alpha(0.2).rgbString(),
        //             data: results[i].filt
        //           },{
        //             label:"Unfiltered",
        //             borderColor: '#d9d9d9',
        //             pointRadius: .5,
        //             backgroundColor: color('#d9d9d9').alpha(0.2).rgbString(),
        //             data: results[i].raw
        //           }]
        //         };
        //       var ctx = canvas.getContext('2d');
        //       window.myScatter = Chart.Scatter(ctx, {
        //         scaleOverride: true,
        //         scaleSteps: 10,
        //         scaleStepWidth: .00001,
        //         scaleStartValue: -0.0001,
        //         scaleShowVerticalLines: true,
        //         scaleShowGridLines : true,
        //         data: scatterChartData,
        //         options: {
        //             showLine: true,
        //             title: {
        //                 display: true,
        //                 text: names[i]
        //             },
        //           }
        //       });
        //     }
        //   } else {
        //     chartList.style.display = "none";
        //     while (chartList.firstChild) {
        //         chartList.removeChild(chartList.firstChild);
        //     }
        //   }
        // }
        var alltVAF = {{tVAFJson | safe}};
        function displaytVAF() {
          var tVAFList = document.getElementById("tVAFs");
          if (tVAFList.style.display === "none") {
              tVAFList.style.display = "block";
              var canvas = document.createElement('canvas');
              canvas.setAttribute('width', 400);
              canvas.setAttribute('height', 100);
              tVAFList.appendChild(canvas);
              var color = Chart.helpers.color;
              var barChartData = {
                labels : [{% for item in tVAFlabels %}
                               "{{item}}",
                           {% endfor %}],
                datasets: [{
                    label: 'tVAF',
                    borderColor: '#4b2e83',
                    borderWidth: 1,
                    backgroundColor: color('#4b2e83').alpha(0.2).rgbString(),
                    data: alltVAF
                  }]
                };
              var ctx = canvas.getContext('2d');
              window.myBar = Chart.Bar(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Total Variance Accounted For'
                    }
                  }
              });
          } else {
              tVAFList.style.display = "none";
              while (tVAFList.firstChild) {
                  tVAFList.removeChild(tVAFList.firstChild);
              }
          }
        }
        function displayAct() {
          var Actimages = document.getElementById('act');
          if (Actimages.style.display == "none") {
            Actimages.style.display = "block";
          } else {
            Actimages.style.display = "none";
          }
        }
        </script>
      </body>
</div>
{% endblock %}
