{% extends "header.html" %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='emgplots.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Synergy Results</h1>
    <a href='/static/plots/matplots_{{ name }}.pdf' target="_blank" class="uw-btn">Print results</a>
    <a href='/static/resultcsv/{{ name }}.csv' class="uw-btn" download='{{ name }}.csv'>Download Excel File of Results</a>
  </div>
      <head>
        <title>Scatter Chart</title>
        <script src="/static/Chart.bundle.js"></script>
        <script src="/static/utils.js"></script>
      </head>
      <body>
        <a class="uw-btn" onclick="displayEMG()">Filtered and Unfiltered EMG</a>
        <a class="uw-btn" onclick="displaytVAF()">Synergy tVAF</a>
        <a class="uw-btn" onclick="displayAct()">Weights and Activations</a>
        <div id = 'charts' style="display: block;" class="column">
          {% for item in fn %}
              <img src="{{item}}" alt="Electromyography" class="row" onclick="showZoomedImage(event);">
          {% endfor %}
        </div>
        <div id = 'tVAFs' style="display: none; width:100%" class="column">
          {% for item in tnn %}
            <img src="{{item}}" alt="TVAF" onclick="showZoomedImage(event);">
          {% endfor %}
        </div>
        <div id = 'act' style="display: none; width:100%" class="column2">
          {% for newItem in awnwn %}
            {% set outer_loop = loop %}
            <h2>{{outer_loop.index}} Synergy Solution - tVAF {{ tVAF[outer_loop.index - 1] }}</h2>
            <div>
            {% for item,item2 in newItem %}
              <h4>Synergy {{loop.index}} - VAF {{ vaf[outer_loop.index - 1][loop.index - 1] }}</h4>
              <img src="{{item2}}" alt="Weight" class="row2" onclick="showZoomedImage(event);">
              <img src="{{item}}" alt="Activation" class="row2" onclick="showZoomedImage(event);">
            {% endfor %}
            </div>
          {% endfor %}
        </div>
        <script>
        function displayEMG() {
          var tvafimages = document.getElementById('tVAFs');
          var Actimages = document.getElementById('act');
          var EMGimages = document.getElementById('charts');
          if (EMGimages.style.display == "none") {
            EMGimages.style.display = "block";
            tvafimages.style.display = "none";
            Actimages.style.display = "none";
          } else {
            EMGimages.style.display = "none";
          }
        }

        function showZoomedImage(event) {
          var imgElement = event.currentTarget.cloneNode(false);
          imgElement.classList.remove('row');
          imgElement.removeAttribute('onclick');
          var background = document.createElement('div');
          background.setAttribute('class', 'zoomed');
          var dialog = document.createElement('div');

          var dismissZoomedImage = function(e) {
            background.parentNode.removeChild(background);
          }

          background.addEventListener('click', dismissZoomedImage);
          //dialog.addEventListener('click', dismissZoomedImage);

          dialog.appendChild(imgElement);
          background.appendChild(dialog);
          document.body.appendChild(background);

          var margin = (background.offsetHeight - dialog.offsetHeight)/2;
          dialog.style.marginTop = margin + 'px';
        }
        function displaytVAF() {
          var tvafimages = document.getElementById('tVAFs');
          var Actimages = document.getElementById('act');
          var EMGimages = document.getElementById('charts');
          if (tvafimages.style.display == "none") {
            tvafimages.style.display = "block";
            Actimages.style.display = "none";
            EMGimages.style.display = "none";
          } else {
            tvafimages.style.display = "none";
          }
        }
        function displayAct() {
          var tvafimages = document.getElementById('tVAFs');
          var Actimages = document.getElementById('act');
          var EMGimages = document.getElementById('charts');
          if (Actimages.style.display == "none") {
            Actimages.style.display = "block";
            tvafimages.style.display = "none";
            EMGimages.style.display = "none";
          } else {
            Actimages.style.display = "none";
          }
        }
        </script>
      </body>
</div>
{% endblock %}
