{% extends "header.html" %}

{% block title %}Import File{% endblock %}

{% block content %}
<html>
 <head>
  <meta charset="utf8"/>
  <title>File upload preview</title>

  <style type="text/css">
   .file_preview {
	   border-collapse: collapse;

   }
   .file_preview td, .file_preview th {
	   border: solid black 1px;
   }
   .file_preview div{
    /* width: 100%; */
    overflow-x: scroll;
   }

  </style>
  <script type="text/javascript" src="/static/js/fileUpload.js"></script>
 </head>
<div class="container">
  <div class="page-header">
    <h1>Synergy Calculator</h1>
  </div>
    <h4>Upload your unprocessed EMG file here for synergy calculations. Acceptable file formats include csv and tsv.</h4>
    <p>File formats must follow the <a href="static/example_excel.csv" download>example template</a>. Each EMG column must be preceded by its time column and have a unique header name that includes "EMG" in the title.</p>
  <body>

    <form id="fileform" method=POST enctype="multipart/form-data" autocomplete="off">
     <input type="file" name="file" id="fileuploadel" required="required" accept=".csv, .tsv"/><br>
     <div id="file_preview" style="overflow-x: scroll;"></div>

     <!-- SELECT element you can clone and add to the EMG columns -->
     <!-- <select id="muscles" required="required">
      <option value="">Select a muscle</option>
      <option value="gastroc">Gastrocnemius</option>
      <option value="bicep">Bicep</option>
     </select>-->
     <label><input type="checkbox" required name="checkbox" value="check" id="agree"/> I certify that this file contains no patient identifiers and can be stored on the Ability Lab's Servers</label>
     <progress id="progressBar" value="0" max="100" style="width:300px;" hidden="true"></progress>
     <p id="status"></p>
     <input type="submit" style="display: inline" />
    </form>



    <script type="text/javascript">
    var array = {{array|tojson|safe}};
    var text  = {{text|tojson|safe}};
    var lowarray = {{lowarray|tojson|safe}};
    var lowtext = {{lowtext|tojson|safe}};
    var trunkarray = {{trunkarray|tojson|safe}};
    var trunktext = {{trunktext|tojson|safe}};
    var higharray = {{higharray|tojson|safe}};
    var hightext= {{hightext|tojson|safe}};

    //called when page finishes loading
    var filePreview;
    window.addEventListener('DOMContentLoaded', function(e) {
      document.getElementById('fileform').addEventListener('submit', uploadFile);
    	//get a handle on the file input, as well as the element we're going to put the preview in
    	var fileInput = document.getElementById('fileuploadel'),
    	filePreviewEl = document.getElementById('file_preview');
    	fileInput.addEventListener('change', function(fe) {  //create the preview when the user selects a file
    		filePreview.readFile(0, 5);  //read 10 lines
    	});

    	filePreview = new FilePreview(fileInput, filePreviewEl);
    });

    /*var table = document.getElementById("table_file_preview");

    var tr = document.createElement("tr");
    var td = document.createElement("td");


    td.appendChild(document.getElementById("muscles"));
    tr.appendChild(td);
    table.appendChild(tr);*/
    </script>
  </body>
</div>
</html>
{% endblock %}
