{% extends "header.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1> Space Limitation </h1>
  </div>
  <p>Due to this website being a showcase of muscle synergy calculation, server space is limited to 5 unique file uploads per user. This is done in order to maximize the number of users that will have exposure to the website while keeping the cost of the server minimal. If you would like to upload additional files there are resources detailing how to host your own synergy calculator on our <a href="https://github.com/uwabilitylab/synergywebapp">github</a>. Feel free to contact <a href="mailto:clairemit9@gmail.com">Claire Mitchell</a> if you have additional questions.
</div>
{% endblock %}
