{% extends "navbar.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Muscle Synergies</h2>
    <h4>Muscle synergies are used to quantify motor control during activities such as walking. They lend insight into the complexity of a person's motor control.
    </h4>
    <p>This website was designed to allow people to see synergies results without having to implement the code and calculations necessary to produce synergies.</p>
  </div>
  <body>
  </body>
</div>
{% endblock %}
