{% extends "header.html" %}

{% block title %}Welcome{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='newheader.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Muscle Synergy Calculator</h1>
  </div>
    <p>This website is designed to increase the accessibility of muscle synergy calculation by deploying python based, peer-reviewed algorithms online to increase use across the field of motor control.
    <p>Use this website to explore the world of muscles synergy calculations and the different parameters that can change depending on the signals entered into the calculation. To view the source code and adapt it for your own uses you can visit the github repo.</p>
    <p>Please credit this site code when using source code or results from the site in published work.
    <h4>Getting Started</h4>
    <p>To upload files create an account and wait for account approval. Each account is manually confirmed to minimize the chance of malicious users, but please don't hesitate to reach out if the confirmation process is taking unexpectedly long. Once your account is approved you will be able to submit a maximum of 5 files for processing, but each file can be processed multiple times.
  <body>
  </body>
</div>
{% endblock %}
