{% extends "header.html" %}

{% block title %}Welcome{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='newheader.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Muscle Synergy Calculator</h1>
  </div>
    <p>This website is designed to increase the accessibility of muscle synergy calculation by deploying python based algorithms online to increase use across the field of motor control. Use this website to explore the world of muscles synergy calculations and how altering filtering parameters or included muscles changes the synergy results.
    <h4>Getting Started</h4>
    <p>To upload files create an account and wait for account approval. Each account is manually confirmed to minimize the chance of malicious users, but please don't hesitate to reach out if the confirmation process is taking unexpectedly long. Once your account is approved you will be able to submit a maximum of 5 files for processing, but each file can be processed multiple times.
    <p>After submitted files are processed, the results can be downloaded - both as images and as csv files of the synergy results.
    <h4>Utilizing the Code</h4>
    <p>To view the source code and adapt it for your own uses you can visit the <a href="https://github.com/uwabilitylab/synergywebapp">github repo</a>. If you have suggestions or any inquires do not hesitate to reach out.</p>
    <p>Please credit this site code when using source code or results from the site in published work.
  <body>
  </body>
</div>
{% endblock %}
