{%- extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='full.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='newheader.css') }}" rel="stylesheet"/>
<link rel="shortcut icon" href="/static/favicon.ico"/>
{% endblock %}

{% block metas %}
<meta name="keywords" content="python, flask, muscle, synergy, biomechanics, eletromyography, EMG, motor, control">
{% endblock %}


{% block navbar %}
<nav>
<div id="uw-container">
  <div id="uw-container-inner">
        <header class="uw-thinstrip">
          <div class="container"><a class="uw-patch" href="/" title="Home">University of Washington</a> <a aria-hidden="true" class="uw-wordmark" href="/" tabindex="-1" title="Home">University of Washington</a> </div>

            <div class='align-right'>
            <nav class="uw-thin-strip-nav">
                <ul class="uw-thin-links">
                    <li>
                        <a href="https://depts.washington.edu/uwsteele/" title=
                        "Ability and Innovation Lab">Ability and Innovation Lab</a>
                    </li>
                </ul>
            </nav>
            </div>

        </header>

        <nav id="dawgdrops">
            <div class="dawgdrops-inner container">
                <ul class="dawgdrops-nav" id="menu-brand-menu">
                    <li class="dawgdrops-item">
                        <a class="dropdown-toggle" href=
                        "/"
                        id="189" title="Home">Home</a>

                        <ul class="dawgdrops-menu" id="menu-189">
                            <li>
                                <a href=
                                "/about"
                                id="492" tabindex="-1" title=
                                "About Muscle Synergies">About Muscle Synergies</a>
                            </li>

                            <li>
                                <a href=
                                "aboutProject"
                                id="488" tabindex="-1" title=
                                "About this project">About this project</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dawgdrops-item">
                        <a href=
                        "/userHomepage"
                        id="193" title="Account">Account</a>
                    </li>

                    <li class="dawgdrops-item">
                        <a href="/doimport"
                        id="486" title="Import File">Import File</a>
                    </li>

                    {% if current_user.is_authenticated %}
                      <li class="dawgdrops-item">
                          <a href="/logout"
                          id="486" title="Logout">Logout</a>
                      </li>
                    {% else %}
                      <li class="dawgdrops-item">
                          <a href="/login"
                          id="486" title="Login">Login</a>
                      </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="header-image">
          <img src="/static/image000001.jpg" class="img-fluid" alt="Electromyography">
        </div>
        <!-- <img src="/static/21390372_10210171564707308_756790771_o.jpg" class="img-fluid" alt="Electromyography"> -->
        <!-- <img src="/static/Neuron-Desktop-Images.jpg" class="img-fluid" alt="Electromyography"> -->
  </div>
</div>
<div>
  <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning">
            {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
  <br>
</div>
</nav>
{% endblock %}
