{% extends "navbar.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <pre>
      <!doctype html>
      <html>

      <head>
          <title>Scatter Chart</title>
          <script src="/static/Chart.bundle.js"></script>
          <script src="/static/utils.js"></script>
          <style>
          canvas {
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
          }
          </style>
      </head>

      <body>
        <pre>
          <h1>I CAN DO THIS</h1>
        </pre>
      </body>

      </html>




    </pre>
  </div>
</div>
{% endblock %}
