{% extends "header.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>{{ user }}'s Job History</h1>
  </div>
  <style>
    table {
    font-family: arial, sans-serif;
    font-size:80%;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    overflow-x: scroll
    /* padding: 4px; */
  }

  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  </style>
  <body>
  <table class="table table-striped">
    <th class="one">File</th>
    <th class="one">File Size</th>
    <th></th>
    {% for oneFile, multipleJobs in jobs %}
      <tr>
        <td title={{oneFile.raw_file_path}}>{{oneFile.raw_file_path}}</td>
        <td>{{oneFile.file_size}}</td>
        <td>
          <table class="table table-striped">
            <th>Lowpass Cutoff</th>
            <th>Highpass Cutoff</th>
            <th>Synergy Number</th>
            <th>Status</th>
            <th>Time Submitted</th>
            <th>Job Results</th>
            <th>Printout</th>
            <th>CSV File</th>
            {% for oneJob in multipleJobs %}
            <tr>
              <td>{{oneJob.lowpass_cutoff}}</td>
              <td>{{oneJob.highpass_cutoff}}</td>
              <td>{{oneJob.synergy_number}}</td>
              <td>{{oneJob.status}}</td>
              <td>{{oneJob.time_submitted}}</td>
              <td>
                {% if "processed" in oneJob.status %}
                  <form action"" method=POST enctype=multipart/form-data>
                    <input id='job_hash' type="hidden" name="job_hash" value={{oneJob.job_hash}}>
                    <a class="uw-btn btn-sm" href="#" onclick="$(this).closest('form').submit()">View<a/>
                  </form>
                {% endif %}
              </td>
              <td>
                {% if "processed" in oneJob.status %}
                  <a href='/static/plots/matplots_{{ oneJob.job_hash }}.pdf' target="_blank" class="uw-btn btn-sm">Print</a>
                {% endif %}
              </td>
              <td>
                {% if "processed" in oneJob.status %}
                  <a href='/static/resultcsv/{{ oneJob.job_hash }}.csv' class="uw-btn btn-sm" download='{{ oneJob.job_hash }}.csv'>CSV</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endfor %}
  </table>
    <form action="" method=POST enctype=multipart/form-data>
    <a class="uw-btn" href="#" onclick="$(this).closest('form').submit()">Submit New Jobs</a>
    </form>
  </body>
<p/>
</div>
{% endblock %}
